/* AdminDashboard.css */
.dashboard {
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  /* .dashboardPar{
    padding: 20px;
  } */
  .overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .overview-item {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    margin-right: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .overview-item:last-child {
    margin-right: 0;
  }
  
  .overview-item p {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
  }
  
  .overview-item h2 {
    font-size: 24px;
    color: #333;
    margin: 0;
  }
  
  .statistics {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .statistics h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .statistics-content {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  