.resources-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.resource-card {
    background-color: #FCFAFA;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 16px;
}

.expand-icon {
    cursor: pointer;
}
